.ForgotPassContainer{
    width: 100%;
    width: 420px;
    background: rgba(255, 255, 255, 0.85);
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    padding: 30px 25px;
    transition: all 0.3s ease;
}
.ForgotPassContainer:hover {
    transform: scale(1.05);
}

.fInputEmail{
    width: 100%;
    padding: 14px 15px 14px 40px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 8px;
    outline: none;
    background: #f9f9f9;
    transition: 0.3s ease;
}

.fbtn{
    width: 100%;
    padding: 14px;
    background: linear-gradient(90deg, #8b78e6, #6b5ad4);
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s ease;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.fbtn:hover{
    background: linear-gradient(90deg, #6b5ad4, #8b78e6);
}

.fInputEmail{
    margin-bottom: 25px;
}