#root {
  width: 100%;
  /* height: 200vh; */
  height: 100%;
  display: grid; /* Enable Grid */
  place-items: center; /* Center both horizontally and vertically */
  background: linear-gradient(135deg, rgba(255, 94, 99, 0.7), rgba(44, 130, 201, 0.7));
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
